*.lscache

src/InvertedIndexProgram/bin/
src/InvertedIndexProgram/obj/

src/InvertedIndexProgram/Documents
src/InvertedIndexProgram/InvertedIndexProgram.csproj.lscache

tests/InvertedIndexProgram.Tests/bin/
tests/InvertedIndexProgram.Tests/obj/